h1{
    text-align: center;
    margin: auto;
    width: 50vw;
    margin-top: 40px;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form >*{
    flex: 1;
    width: 200px;
    margin: 10px 10px;
}